/* Reseteo de márgenes, padding y box-sizing */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(17, 76, 204);
    opacity: 0.5;
    font-size: 20px;
    color: #171414;
    z-index: 3;
    padding: 1rem;
    transition: 0.8s;
}

header div {
    transition: transform 0.8s;
}

header div:hover {
    transform: scale(1.3);
}

/* Main */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.abrir-menu, .cerrar-menu{display: none;}

/* Navegación */
nav, ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul {
    gap: 0 30px;
}

nav ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: rgb(243, 235, 235);
    transition: 0.8s;
}

nav a:hover {
    color: rgb(12, 96, 134);
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}

/* Carousel */
.carousel {
    margin: 20px;
}

/* Títulos */
h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
}

.container h2::after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 100px;
    height: 5px;
    background: black;
}

/* Sección flex */
.container .flex-section {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.container .flex-section .Servicios {
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.5s;
    cursor: pointer;
    font-size: 1.2rem;
}

.container .flex-section .Servicios:hover {
    transform: scale(1.1);
    background: #999999;
}

/* Misión y Visión */
.mis-vis {
    display: flex;
    flex-direction: row;
    margin-inline: 12%;
    gap: 80px;
    margin: 5vh 0;
    padding: 2vh;
    opacity: 0.8;
    transition: 0.3s;
}

.mis-vis:hover {
    color: white;
    border-radius: 10px;
}

.mision, .vision {
    padding: 2.5vh;
    background-color: rgba(24, 27, 212, 0.329);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Rd ul{
    display: flex;
    flex-direction: column;
}

.lineas, .serv {
    border-bottom: solid 4px blue;
}

/* Footer */
.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.foot li {
    list-style-type: none;
    margin: 4vh 2vh;
}

h4 {
    text-align: center;
}

a {
    transition: 0.8s;
    padding: 2vh;
    text-decoration: none;
    color: rgb(208, 19, 233);
}

a:hover {
    color: black;
    background-color: rgb(51, 15, 214);
    padding: 1rem;
    border-radius: 10px;
}

.Rd ul li a{
    display: flex;
    justify-content: space-around;
}

/* Pie de página */
.pie {
    background-color: rgb(15, 162, 247);
    color: white;
    margin-top: 20px;
    border-top: 1px solid #3812c2;
    padding-top: 10px;
    font-size: large;
    text-align: center;
}

/* Estilos Responsivos */
@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        font-size: 1.3rem;
        background-color: transparent;
        color: rgb(52, 30, 194);
        cursor: pointer;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgb(0 0 0 .5);
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        color: white;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
    }

    .flex-section {
        flex-direction: column;
    }

    .mis-vis {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    h2 {
        font-size: 20px;
    }

    .foot {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    header {
        font-size: 18px;
    }

    .mis-vis{
        flex-direction: column;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .container .flex-section {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }
    .foot{
        flex-direction: column;
    }
    .Rd ul li a{
        flex-direction: column;
    }
}
